.wrapper {
    height: 100%;
    &.auth {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
}

.page {
    &.login, &.registration {
        max-width: 300px;
        padding: 0 6px;
        .form-button {
            width: 100%;
        }
    }
}

.login, .registration {
    &_logo {
        width: 80px;
        margin: 0 auto 30px auto;
        display: block;
    }
    &-form {
        width: 292px;
    }
}