.app {
    .settings {
        &__form {
            &__logo-preview {
                display: flex;
                align-items: flex-end;
                &_image {
                    margin: 0 15px 28px 0;
                    background-size: contain;
                    height: 60px;
                    width: 60px;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 1px solid #e8e8e8;
                    box-sizing: border-box;
                    border-radius: 4px;
                }
            }
            .ant-upload-list {
                display: none;
            }
        }
        .chrome-picker {
            box-shadow: rgba(0,0,0,.1) 0px 0px 2px, rgba(0,0,0,.1) 0px 2px 4px !important;
        }
    }
}

@media(max-width: 767px) {
    .app {
        .settings {
            .chrome-picker {
                width: 100% !important;
            }
        }
    }
}